.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .card-image img {
    width: 100%;
    height: 250px;
    display: block;
  }
  
  .card-contents {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card-contents h3 {
    font-size: 1.4rem;
    margin: 0 0 8px;
    color: #4CAF50;
    transition: color 0.3s ease;
  }
  .card-contents h3:hover {
    color: #007bff;
  }
  
  .card-content p {
    font-size: 1rem;
    color: #666;
    margin: 0;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
  }

  .professor-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .professor-image-container {
    width: 40px;
    height: 40px;
    border: 2px solid #4CAF50; 
    border-radius: 50%;
    overflow: hidden;
  }
  
  .professor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .professor-name {
    color: #007bff;
  }

  .professor-title {
    color: #777;
    font-size: 0.8rem;
  }
  
  .card-stats {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .stat, .rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .rating svg {
    color: #f0a500; /* Star color */
  }
  

  /* Responsive styles */
@media screen and (max-width: 768px) {
  .professor-image-container {
    width: 32px;
    height: 32px;
    border: 1.5px solid #4CAF50; 
  }
}

@media screen and (max-width: 480px) {
  .professor-image-container {
    width: 28px;
    height: 28px;
    border: 1.5px solid #4CAF50;
  }
}