/* General Navbar Styles */
nav {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* Ensures navbar appears above other content */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Navbar Logo */
nav .logo {
    width: 180px;
}

/* Navbar Links */
nav ul {
    display: flex; /* Default flex for larger screens */
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #f0a500; /* Highlight color on hover */
}

/* Sticky Background for Scroll */
.dark-nav {
    /* background-color: #212ea0;  */
    background-color: #002d72;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}

/* Fixed Background for Specific Routes */
.fixed-bg {
    background-color: #002d72; /* Fixed background color for routes like campus-gallery */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    cursor: pointer;
    z-index: 1500; /* Ensure it remains clickable */
}

/* Responsive Design */

/* Medium Screens */
@media screen and (max-width: 1000px) {
    nav .logo {
        width: 140px;
    }
    nav ul li {
        margin: 5px 15px;
        font-size: 16px;
    }
}

/* Small Screens */
@media screen and (max-width: 840px) {
    nav {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #002d72;
        z-index: 1000;
        width: 200px;
        padding-top: 70px;
        transform: translateX(100%); /* Initially hidden */
        transition: transform 0.5s ease-in-out;
    }

    nav ul li {
        display: block;
        margin: 17px 40px;
        font-size: 16px;
    }

    .mobile-menu {
        transform: translateX(0); /* Show menu */
    }

    .hide-mobile-menu {
        transform: translateX(100%); /* Hide menu */
    }

    .menu-icon {
        display: block;
        width: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

/* Overlay for Click Outside Detection */
.nav-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dimmed background */
    z-index: 999; /* Below navbar but above content */
}

.nav-overlay.show {
    display: block; /* Show overlay when menu is active */
}
