/* Default styles for larger screens */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(50, 80, 120, 0.8); 
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 900; /* Adjusted z-index to ensure it is below the mobile menu */
    transition: background-color 0.3s ease;
    font-size: 1.5rem; 
  }
  
  .back-to-top:hover {
    background-color: rgba(50, 80, 120, 1); 
  }
  
  .back-to-top:active {
    background-color: rgba(50, 80, 120, 0.9); 
  }
  
  /* For smaller screens (e.g., mobile) */
  @media screen and (max-width: 768px) {
    .back-to-top {
      bottom: 15px; 
      right: 15px;
      padding: 10px; 
      font-size: 1.2rem; 
    }
  }
  
  /* For very small screens */
  @media screen and (max-width: 480px) {
    .back-to-top {
      bottom: 10px; 
      right: 10px;
      padding: 8px; 
      font-size: 1rem; 
    }
  }
  @media screen and (max-width: 390px) {
    .back-to-top {
      bottom: 20px; 
    }
  }
  